models/*
!models/haarcascade_frontalface_default.xml
!models/

For ml face/
analyze_my_face.py
evaluate_face.py


# OCR datasets and outputs
ocr_engine/dataset/
ocr_engine/0/
ocr_engine/kaggle_results

# Extracted files
Extracted/

debug_output/*
__pycache__/ *.pyc